<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Name Card</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <main>
      <div id="card">
        <div id="img-container">
          <img src="static/img/profile-sm.jpg" alt="Profile Image" />
        </div>

        <h1>Christian Demesa</h1>

        <h2>Junior Web Developer</h2>
      </div>

      <footer>
        <p>@2023 Christian Demesa</p>
      </footer>
    </main>
  </body>
</html>
